body{
	font-family: verdana;
	color: rgb(20,20,20);
	background-color: rgb(230,230,230);
	text-align: center;
}

h1 {
	font-size: 60px;
	color: rgb(250,250,250);
}

a {
	color: red;
}

a:hover {
	color: pink;
}

h2 {
	color: #CE3E3E;
}

#banner {
	background-image: url("https://assets.wordpress.envato-static.com/uploads/2016/03/little-girl-super-hero-concept-P7WEDPK.jpg");
	text-align: center;
	padding: 100px 5px 100px 5px;
	background-size: cover;
	background-position: center;
}

#bannersubtitle {
	color: white;
	font-size: 35px;
	font-family: 'Sacramento', cursive;
}

#banner img {
	object-fit: : cover;
}

#footer {
	background-color: #CE3E3E;
	padding: 60px;
	margin-top: 60px;
	color: white;
}

#footer a {
  color: lightgrey;
  font-size: 15px;
}

#footer a:hover {
  color: white;
 }

#button{
	margin-top: 300px;
	text-align: right;
	margin-right: 60px;
}

img {
	margin-top: 70px;
	margin-bottom: 35px;
}
